name: Unit tests on push

on:
  push:
  pull_request:
    types:
      - opened    

# We run `release` this create a release from the master branch
jobs:
  test-app:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout'
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test ./...